body {
    background-color: rgb(228, 228, 228);
}

.feed {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: rgb(228, 228, 228);
}

.cabecera{
    width: 400px;
    height: 80px;
    font-family: Pacifico;
    color:white;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;

}

.header {
    padding: 10px;
}

.post {
    margin-bottom: 20px;
    background-color: white;
}

.texto {
    float:left;
    font-size: 20px;
}

.fecha {
    float:right;
    font-size: 20px;
}

.texto, .fecha {
    font-family: Pacifico;
    margin: -20px 0;
}

.foto {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

img {
    width: 400px;
}

.botones{
    margin: 10px;
}
#bookmark {
    float: right;
}

.contenido p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    padding: 10px;
}


